/*COMMON */
body {
    color: #333333;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4; 
    font-family: 'Nanum Gothic', sans-serif;

}
img{
    display: block; /* 레이아웃으로 취급 */
}

a{
    text-decoration: none;
}

/* Header */
header {
    background-color: royalblue;
}

header .inner {
    width: 1100px;
    height: 120px;
    margin: 0 auto;
    background-color: orange;
    position: relative;
}

header .logo {
    height: 75px;
    position: absolute; /* 부모 요소 기준을 배치 (부모 요소에도 position 값이 있어야함) */
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    display: none;
}
header .sub-menu {
    display: flex;

}

header .sub-menu ul.menu {
    font-family: Arial, sans-serif;
    display: flex; /* 수평 정렬 */
}

header .sub-menu ul.menu li {
    position: relative;
    
}

header .sub-menu ul.menu li::before{
    content: "";
    display: block;
    width: 1px;
    height: 12px;
    background-color: #e5e5e5;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
}

header .sub-menu ul.menu li:first-child:before{
    display: none;
}
header .sub-menu ul.menu li a {
    font-size: 12px;
    padding: 11px 16px;
    display: block;
    color: #656565;
}
header .sub-menu ul.menu li a:hover { 
    color: #000000; /* 마우스 오버 색상 변경 */

}
header .sub-menu .search {
    height: 34px;
    position: relative;
}

header .sub-menu .search input {
    width: 36px;
    height: 34px;
    padding: 4px 10px; /* 내부 여백 */
    border: 1px solid #ccc ; /* 테두리 */
    box-sizing: border-box; 
    border-radius: 5px; /* 모서리 둥글게 */
    outline: none;
    background-color: #fff;
    color: #777;
    font-size: 12px;
    transition: width .4s; /* 검색창이 늘어나는 속도 */
}

header .sub-menu .search input:focus { /* 검색창이 클릭되었을 때 */
    width: 190px;
    border-color: #669900;
}

header .sub-menu .search .material-icons {
    height: 24px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 5px;
    margin: auto;
    
}